body {
}


#top{
    background-color:forestgreen;
    color:white;
    text-align:center;
}

#Navigation {
    background-color:indianred;
        height:auto;
        float:left;
}

#Main {
    width:1000px;
        background-color:cornflowerblue;
        float:left;
}

#Footer {
    background-color:forestgreen;
    text-align:center;
    color:white;
    clear:both;
}